<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Rene Bieder - Campton Light Italic.otf</string>
		<string>Rene Bieder - Campton Light.otf</string>
		<string>Rene Bieder - Campton Medium Italic.otf</string>
		<string>Rene Bieder - Campton Medium.otf</string>
		<string>Rene Bieder - Campton SemiBold Italic.otf</string>
		<string>Rene Bieder - Campton SemiBold.otf</string>
		<string>Rene Bieder - Campton Thin Italic.otf</string>
		<string>Rene Bieder - Campton Thin.otf</string>
		<string>Rene Bieder - Campton Black Italic.otf</string>
		<string>Rene Bieder - Campton Black.otf</string>
		<string>Rene Bieder - Campton Bold Italic.otf</string>
		<string>Rene Bieder - Campton Bold.otf</string>
		<string>Rene Bieder - Campton Book Italic.otf</string>
		<string>Rene Bieder - Campton Book.otf</string>
		<string>Rene Bieder - Campton ExtraBold Italic.otf</string>
		<string>Rene Bieder - Campton ExtraBold.otf</string>
		<string>Rene Bieder - Campton ExtraLight Italic.otf</string>
		<string>Rene Bieder - Campton ExtraLight.otf</string>
		<string>CaslonGraphiqueEF.otf</string>
	</array>
</dict>
</plist>
